@import "reset.css";

:root {
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #ffffff;
  --primary-font-color: #2f4f5c;
  --secondary-font-color: #ffffff;
}

body {
  background-color: var(--primary-background-color);
}
.page-container {
  margin-left: 8rem;
  margin-right: 8rem;
  margin-top: 1rem;
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20rem;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.5);
  justify-content: center;
  align-items: center;
  position: fixed;
}
.logo {
  height: 4rem;
  background-size: cover;
}
.navigation > nav > ul {
  height: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 5rem;
  justify-content: center;
  align-items: center;
}
.navigation > nav > ul > li {
  list-style: none;
}
.navigation > nav > ul > li > a {
  text-decoration: none;
  font-size: 1.25rem;
  color: black;
}

/* End of navigation bar */
.hero-section {
  position: relative;
}

.hero-section > div:first-child {
  background-size: cover;
  background-position: center;
  height: 80vh;
  position: relative;
  z-index: -1;
}
.dec {
  position: absolute;
  bottom: 8px;
  right: 16px;
  background-color: white;
  opacity: 0.5;
  border-radius: 15px;
  padding: 1.2rem;
}
