@import "reset.css";

:root {
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #ffffff;
  --primary-font-color: #2f4f5c;
  --secondary-font-color: #ffffff;
}

body {
  background-color: var(--primary-background-color);
  font-family: "Inter";
}
.page-container {
  max-width: 80rem;
  margin: 0 auto;
}

.navigation {
  position: fixed;
  background-color: var(--secondary-background-color);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 2.83rem;
  height: 60px;
  max-width: 80rem;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 5px 4px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 5px 4px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 5px 4px 1px rgba(0, 0, 0, 0.3);
}
.logo {
  width: 80px;
  height: 60px;
}
nav > ul {
  display: flex;
  gap: 6.25rem;
  list-style: none;
  justify-content: space-between;
}
nav > ul > li > a {
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 1.3rem;
  color: black;
  padding: 0.5rem;
  transition: all 350ms ease-in-out;
}
nav > ul > li :hover {
  color: white;
  background-color: var(--primary-font-color);
  border-radius: 8px;
}
.connect {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
#connect-icon {
  height: 30px;
  cursor: pointer;
}
/* End of navigation section */

.hero-section-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 5rem;
  justify-content: center;
  align-items: center;
}
.dec {
  background-color: var(--secondary-font-color);
  padding: 2rem;
  border-radius: 2rem;
}
.dec > p {
  font-family: sans-serif;
  color: rgb(133, 133, 133);
  font-size: 14px;
  text-align: left;
  line-height: 1rem;
}
.dec > h1 {
  font-size: 48px;
  font-weight: 500;
}
.dec > h1 > span {
  color: var(--primary-font-color);
  font-size: 50px;
  font-weight: 800;
}
.banner-button {
  display: block;
  font-family: inter;
}
.banner-button > button:first-child {
  align-items: flex-start;
  appearance: auto;
  background-color: var(--primary-font-color);
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0.9rem 1rem;
  border: none;
  color: var(--secondary-background-color);
  margin-right: 1rem;
  font-size: 14px;
}

.banner-button > a > button {
  align-items: flex-start;
  appearance: auto;
  color: var(--primary-font-color);
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0.9rem 1rem;
  border: 2px solid var(--primary-font-color);
  background-color: var(--secondary-background-color);
  margin-right: 1rem;
  font-size: 14px;
}

.bg > img {
  /* border-top-left-radius: 30px; */
  /* border-bottom-right-radius: 80rem; */

  border-bottom-left-radius: 80rem;
  /* border-top-right-radius: 290px; */

  transition: all 500ms ease-in-out;
}
.bg > img:hover {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  /* border-bottom-right-radius: 1rem; */

  box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.75);
}

/*************** End of  hero-section **************/

.top-categories {
  margin-top: 3rem;
}
.top-categories > div:first-child {
  text-align: center;
}
.top-categories > div:first-child > h1 {
  color: var(--primary-font-color);
  font-size: 2.5rem;
}
.cat-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.content > a {
  text-decoration: none;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}
/* top categories grid contents  */
.items {
  justify-content: center;
  max-width: 70%;
  max-height: 70%;
  background-color: var(--secondary-background-color);
  border-radius: 0.625rem;
  padding: 1.2rem;
  transition: all 300ms ease-in-out;
}
/* items hover */
.items:hover {
  border-radius: 1rem;
  box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.75);
}
.items > .icons {
  max-width: 1.5rem;
}
.items > h1 {
  font-size: 1.5rem;
  color: var(--primary-font-color);
  padding-top: 0.1rem;
}
.items > h1 > a > button {
  padding-left: 0.1rem;
  padding-top: 0.1rem;
  border-radius: 0.3rem;
  border: 1px solid var(--primary-font-color);
  color: var(--primary-font-color);
}

.items > p {
  font-size: 0.813rem;
  color: #6b6b6b;
  padding-top: 0.2rem;
  text-align: left;
  text-align: justify;
}
.cat-bg > img {
  border-radius: 1.875rem;
  transition: all 300ms ease-in-out;
}
/* cat-bg hover */
.cat-bg :hover {
  border-radius: 1rem;
  box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.75);
}
/*********** End of TOP CATEGORIES SECTION ********/

.our-product-section {
  margin-top: 3rem;
}
.our-product-section > div:first-child > h1 {
  display: grid;
  justify-content: center;
  color: var(--primary-font-color);
  font-size: 2.5rem;
}
.product-grid {
  margin-left: 4.5rem;
  margin-top: 2rem;
  display: grid;
  grid: 1fr 1fr / 1fr 1fr 1fr;
  row-gap: 3rem;
  column-gap: 3rem;
  margin-bottom: 2rem;
}
.product-container {
  display: grid;
  height: 18rem;
  width: 19.5rem;
  grid-template-rows: 3fr 1fr;
  background-color: var(--secondary-background-color);
  border-radius: 0.9rem;
  transition: all 300ms ease-in-out;
}

.image > img {
  height: 11.5rem;
  border-radius: 0.9rem;
}
.banner {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 1rem;
  border-radius: 0.9rem;
}
/* banner hover */
.product-container:hover {
  border-radius: 1rem;
  box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.75);
}
.offer {
  justify-content: center;
  background-color: red;
  border-radius: 50%;
  color: white;
  font-size: 1rem;
}
.price > p:first-child {
  padding-top: 0.3rem;
  color: var(--primary-font-color);
  font-size: 1.5rem;
  font-weight: bold;
}
.new-price {
  font-size: 1.3rem;
  font-weight: bold;
}
.price > p:last-child {
  padding-top: 0.3rem;
  text-decoration: line-through;
  font-style: italic;
}

/* End of our product section */

/* Content pages css */

.bg-banner{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* .views-header-container {
  margin-top: 3rem;
} */

.views-header-container > div {
  display: block;
}
.bounce {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: var(--primary-font-color);
  height: 3.125rem;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 75.75%;
}
.bounce-txt {
  width: 100%;
  height: 100%;
  color: var(--secondary-background-color);
  margin: 0;
  line-height: 3.125rem;
  text-align: center;
  transform: translateX(50%);
  animation: bouncing-text 10s ease-in-out infinite alternate;
}

@keyframes bouncing-text {
  0% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.go-back {
  border: none;
  background-color: var(--primary-background-color);
  color: var(--primary-font-color);
  border-radius: 15px;
}
.buy-now > a > button {
  border-radius: 0.3rem;
  border: 2px solid var(--primary-font-color);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: var(--primary-font-color);
  transition: all ease-in-out 100ms;
}

.buy-now > a > button:hover {
  border-radius: 0.3rem;
  background-color: var(--primary-font-color);
  color: var(--secondary-font-color);
}
