@import url(reset.css);

/* Starting of responsive footer */

footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5rem 2rem 1.5rem 2rem;
    margin: 0;
}

footer .col1
  {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .maphead{
    font-family: Poppins;
    font-size: 1rem;
    padding-bottom: 0.2rem;
  }

  .responsive-map{
    width: 100%;
  }

  .contact-social-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .col2-contact{
    font-size: 1rem;
    font-family: Poppins;
    font-weight: bold;
    margin-top: 1rem;
    padding-top: 0.5rem;
  }

  .info1{
    margin-top: -2.6rem;
  }

  .contacttitle1{
    padding-top: -1rem;
    height: 100%;
    font-family: Poppins;
    width: 30%;
    font-size: 0.8rem;
  }

  .contactbody1{
    font-size: 0.6rem;
    font-family: Poppins;
  }

  .col-install{
    margin-top: 1.7rem;
  }

  .maphead2{
    font-size: 1rem;
    font-family: Poppins;
    font-weight: bold;
    padding-bottom: 1rem;
  }

  .image-container{
    display: inline;
    margin-top: 1rem;
    margin-left: 2rem;
  }

  .icon-logo{
    height: 2.5rem;
    width: auto;
    margin-right: 10px;
  }

  .footer-bottom{
    margin-top: -2rem;
    text-align: center;
    justify-content: center;
    margin-bottom: 1px;
  }